<div class="container-fluid">
    <div class="home-heading text-center row">
      <div class="home-heading-wrapper">
        <h1>Comments from the post:</h1>
        <% if (typeof(postId) !== 'undefined') { %>
          <h2>ID: <%= postId %></h2>
        <% } %>
        <p>Do you want create a comment??</p>
        <a class="btn btn-default" href="/posts/<%= postId%>/comments/new">Create a comment</a>
      </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <h3>Comments of users:</h3>
              <% if (typeof(comments) !== 'undefined') { %>
                  <% comments.forEach((comment) => { %>
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <p><a href="/users/<%= comment.authorId %>"><strong>@<%= comment.authorId %></strong></a> 
                              <p><%= comment.content %></p>
                              <figure>
                                  <img src="<%=comment.image_path%>" alt="" height="100px">
                                  <figcaption>
                                    <%=comment.image_name%>
                                  </figcaption>
                                </figure>
                                   
                          </div>
                      </div>
                  <% }); %>
              <% } %>
          </div>
      </div>
  </div>