<div class="container-fluid">
  <div class="home-heading text-center row">
    <div class="home-heading-wrapper">
      <h1>Here you can see all posts</h1>


      <p>Do you want create a post??</p>
      <a class="btn btn-default" href="/posts/new">Create a Post</a>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <h3>Posts of users:</h3>
            <% if (typeof(posts) !== 'undefined') { %>
                <% posts.forEach((post) => { %>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p><a href="/users/<%= post._creator %>"><strong>@<%= post._creator %></strong></a> 
                            <p><%= post.content %></p>
                            <img src="<%=post.pic_path%>" alt="" height="100px">
                            <p class="text-right">
                                <a href="/posts/<%= post._id %>/comments" class="btn btn-success text-right ">Watch comments</a>
                            </p>
                        </div>
                    </div>
                <% }); %>
            <% } %>
        </div>
    </div>
</div>